body{
	padding: 0;
	margin: 0;
	color: #714500;
	
	background-image: url("../photo/backgrond.png");
}
a{
	color: black;
	text-decoration: none;
}

#top{
	border-bottom: solid #ff6600 0.3125rem;
	padding: 0.625rem;
	
	background-color: #e5a65e;
}
h1{
	display: inline-block;
	margin: 0rem 1rem;
}
#top a{
	display: inline-block;
	margin: 0rem 0.25rem;
	padding: 0rem 0.3rem;
	
	border: solid #c14000 0.2rem;
	border-radius: 0.2rem;
}