#sideNav{
	position: fixed;
	right: 1%;
	top: 10%;
	width: 14rem;
	/* height: 100%; */
	
	float: right;
	margin: 1.8rem 0.8rem;
	padding: 0.8rem;
	
	border: solid #f1f1f1 0.25rem;
	border-radius: 0.25rem;
	background-color: #f1f1f1;
	opacity: 0.8;
}
#sideNav img{
	width: 3rem;
	height: 3rem;
}
#name{
	display: inline-block;
	margin: 0 0.625rem;
	font-size: 3rem;
}
#myConfession{
	position: relative;
	left: 8%;
	width: 60%;
}